<mat-toolbar>
  <div class="left side">
    <mat-icon> garage </mat-icon>
    <span>Vehicle App</span>
  </div>
  <div class="right side">
    <button
      data-testid="create-new-vehicle-button"
      (click)="createNewVehicle()"
      mat-raised-button
    >
      <mat-icon> add </mat-icon> Criar um novo veiculo
    </button>
    <button data-testid="logout" (click)="logout()" mat-raised-button>
      <mat-icon> logout </mat-icon>Sair
    </button>
  </div>
</mat-toolbar>

<body>
  <div class="row" *ngIf="authService.user$ | async as user">
    <h1>
      Olá <span class="bold">{{ user.name }}</span
      >, seja bem-vindo(a)!
    </h1>
  </div>

  <my-workspace-vehicle-table></my-workspace-vehicle-table>
</body>
