<h1>Login</h1>
<h2>Sing In</h2>
<mat-icon> account_circle </mat-icon>
<form [formGroup]="singInForm">
  <mat-form-field appearance="outline">
    <mat-label> Nome </mat-label>
    <input formControlName="name" matInput placeholder="Nome" type="text" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Email </mat-label>
    <input formControlName="email" matInput placeholder="Email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> Senha </mat-label>
    <input
      formControlName="password"
      matInput
      placeholder="Password"
      type="password"
    />
  </mat-form-field>

  <button (click)="submitForm()" mat-raised-button color="primary">
    Criar
  </button>
  <a [routerLink]="['']"> Já possui conta ? Faça seu login aqui </a>
</form>
