/* You can add global styles to this file, and also import other style files */
.cdk-global-scrollblock {
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #f9f9f9;
  overflow: hidden;
}
.primary-color {
  color: #3f51b5;
}
.bold {
  font-weight: 600;
}
